
.rectangle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 13rem;
    box-shadow: 1px 1px 9px 1px #888888;
}

.duo-print-logo {
    /* width: 30%; */
    width: 28rem;
}

.man-logo {
    width: 15%;
}


